.nav-color {
  background-color: #000 !important;

}

.upload-div {
  background-color: #CCEFF3 !important;

}

.nav-text{

    text-decoration: none !important;
    color: white !important;

  }

h1,h2,p {
color: #752D7E !important;

}

btn-color{
  background-color: #47093A !important;

}
